@{
    ViewData["Title"] = "Login";
}

<!--<h1 class="login-header">ICARUS</h1>-->
<img src="https://i.imgur.com/d3zQj57.png" style="height:200px;">

@model UserViewModel 
@using warmup_project_teama_web_app.Models
@using (Html.BeginForm("Index", "Login", FormMethod.Post))
{
    //@Html.ValidationSummary(true)
<fieldset>
    <div class="forms">
        <div class="login-form">
            <h4 className="form-header">Welcome!</h4>
            <input name='user.userID' type='text' placeholder="Username" value='' />
            <input class="btn form-button" type="submit" value="Login" />
        </div>
    </div>
    
</fieldset>
}